[
{sasl, [
        {sasl_error_logger, {file, "./log/erlang"}}
        %{sasl_error_logger, false},
        %{error_logger_mf_dir, "./log"},
        %{error_logger_mf_maxbytes, 1024},
        %{error_logger_mf_maxfiles, 10}
       ]
},
{orologio, [
	     {mods, [fetch, graph, limit, notify, checknod]},
	     {join, []},
	     {log, "./log/orologio_$year-$month-$day_$hour:$min:$sec"},
	     {log_level, [info, warning, error]},
	     {mod_config, mod_config_file},
	     {mod_log, mod_log_file},
	     {mod_event, mod_event_pg2},
	     {agent_cfg, "cfg"}
	    ]
 }
].
